* {
	margin: 0;
	padding: 0;
}

.head {
	width: 100%;
	padding: 10px;
	background: #00BFFF;
}

body {
	background-image: url("img/ukr21.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #0080ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navigation a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffd700;
    display: block;
    transition: 0.3s;
}

.navigation a:hover, .menu a:hover {
    color: #ffe44d;
}

.navigation .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu {
	font-size: 25px;
	background: rgba(204, 230, 255, 0.7);
	padding: 5px;
	width: 10%;
	text-align: center;
	border: 1px solid #cce6ff;
	border-radius: 10px;
	position: fixed;
	display: block;
}

.menu a {
	text-decoration: none;
	color: #ffd700;
}

.main {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	top: 35px;
	background: rgba(179, 218, 255, 0.6);
	border: 1px solid #b3daff;
	border-radius: 20px;
	display: block;
	font-size: 25px;
}

.main h1, h4 {
	text-align: center;
}

#map {
	width: 400px;
	heigth: 400px;
	
}

@media screen and (max-height: 450px) {
  .navigation {padding-top: 15px;}
  .navigation a {font-size: 18px;}
}